<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
       span{
       width:100px;
    }
    </style>

</head>

<body>

<div th:text="${goalCountry}"> </div>

<span th:each=" c : ${expectedCountry}">
    <span th:text="${c}"></span>
    </span>
<span th:each=" c : ${guessedCountry}">
    <span th:text="${c}"></span>
    </span>

<form action="/" method="post">
        <input type="text" name="inputChar">
        <input type="submit">
</form>

<span th:text="${win}"></span>



</body>
</html>