<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
       span{
       width:100px;
    }
    </style>

</head>


<body>


<br>
<form action="/" method="post">
    <div th:text="${randomcountry}"> </div>
    <span th:each=" c : ${countryname}">
    <span th:text="${c}"></span>
    </span>
    <input type="text" name="inputChar">
    <input type="submit">

</form>

<span th:each=" c : ${compareChar}">
    <span th:text="${c}"></span>
</span>

</body>
</html>