<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
body {
  background-color: lightblue;
}
div{
  margin-bottom: 20px;
}
.star{
 width: 500px;
 Height:500px;
  border: 10px solid green;
  padding: 50px;
  margin-left: 450px;
  margin-top:50px;
}

#star{
 width: 250px;
 Height:300px;

  margin-left: 100px;

}
</style>
</head>

<body>
<div class="star">
    <h2> You have 10 attempts to guess the country</h2>
    <h3>
        <span>Attempts Left:</span>
        <span th:text="${attemptsleft}"></span>
<!--
        <p th:text="${goalCountry}">
-->
        <p/></h3>
    <div>
   <span style="margin:2px" th:each=" c : ${expectedCountry}">
    <span th:text="${c}"></span>
    </span>
    </div>
    <div>
  <span th:each=" c : ${guessedCountry}">
    <span th:text="${c}"></span>
    </span>
    </div>

    <form action="/" method="post">
        <input type="text" name="inputChar" style="border:2px solid green;">
        <input type="submit" style="border:2px solid green;">
    </form>

    <br>
<!--
    <div th:text="${wrongattempt}"></div>
-->
    <img id="star" th:src="@{/game.jpg}" alt="hangman" width="250" height="300">
</div>
</body>
</html>